*{
    margin: 0;
    padding: 0;
}

.cabecalho {
   background: #3b89da;
   padding: 16px;;
} 
.botao-remove {
    display: none;
}

.cartao {
    border: 1px solid yellowgreen;
    background: yellow;
    padding: 16px;
    margin: 16px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;  
}

.container {
    padding: 0 10%;
}

.mural {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


@media (min-width: 590px) {
    .cartao {
        width: 190px;
        display: inline-block;
        vertical-align: top;
        flex-basis: 198px;
        flex-grow: 1;
    }
}

.mural--linha .cartao {
    display: block;
    width: auto;
    flex-basis: auto;
}

.mural--linha {
    flex-direction: column;
}

.cartao--some {
    display: none !important;
    opacity: 0;
    transition: .2s ease-in;
}