*{
    margin: 0;
    padding: 0;
}

.cabecalho {
   background: #3b89da;
   padding: 16px;;
} 

.cartao {
    border: 1px solid yellowgreen;
    background: yellow;
    padding: 16px;
    margin: 16px;
    display: inline-block;
    width: 190px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
   
}

.container {
    padding: 0 10%;
}

.mural {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

